*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size:62.5%;
}
body{
    font-size: 1.6rem;
}
.container {
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
}   
.box{
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}
.box1{
    background-color: aqua;
    /* flex-grow: 1; */
}
.box2{
    background-color: palevioletred;
}
.box3{
    background-color: violet;
}
.box4{
    background-color: palegreen;
}
.box5{
    background-color: papayawhip;
}
.box6{
    background-color: plum;
}