* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: purple;
}
section {
    width: 80%;
    min-height: 500px;
    background-color: red;
    max-width: 500px;
    min-width: 320px;
    margin:0 auto;
}